# Relatório de Análise VI

## Criando Novas Variáveis

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('/content/drive/MyDrive/Alura/Curso Pandas/aluguel_residencial.csv', sep=';')

In [3]:
dados.head(10)

                 Tipo               Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete           Copacabana        1  ...   1700.0       500.0  60.0
1                Casa      Jardim Botânico        2  ...   7000.0         0.0   0.0
2         Apartamento               Centro        1  ...    800.0       390.0  20.0
3         Apartamento         Higienópolis        1  ...    800.0       230.0   0.0
4         Apartamento             Cachambi        2  ...   1300.0       301.0  17.0
5  Casa de Condomínio      Barra da Tijuca        5  ...  22000.0         0.0   0.0
6  Casa de Condomínio                Ramos        2  ...   1000.0         0.0   0.0
7         Apartamento               Grajaú        2  ...   1500.0       642.0  74.0
8         Apartamento  Lins de Vasconcelos        3  ...   1500.0       455.0  14.0
9         Apartamento           Copacabana        1  ...   2000.0       561.0  50.0

[10 rows x 9 columns]

In [4]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [5]:
dados.head()

          Tipo           Bairro  Quartos  ...  Condominio  IPTU  Valor Bruto
0    Quitinete       Copacabana        1  ...       500.0  60.0       2260.0
1         Casa  Jardim Botânico        2  ...         0.0   0.0       7000.0
2  Apartamento           Centro        1  ...       390.0  20.0       1210.0
3  Apartamento     Higienópolis        1  ...       230.0   0.0       1030.0
4  Apartamento         Cachambi        2  ...       301.0  17.0       1618.0

[5 rows x 10 columns]

In [6]:
dados['Valor m2'] = dados['Valor'] / dados['Area']
dados.head()

          Tipo           Bairro  Quartos  ...  IPTU  Valor Bruto   Valor m2
0    Quitinete       Copacabana        1  ...  60.0       2260.0  42.500000
1         Casa  Jardim Botânico        2  ...   0.0       7000.0  70.000000
2  Apartamento           Centro        1  ...  20.0       1210.0  53.333333
3  Apartamento     Higienópolis        1  ...   0.0       1030.0  16.666667
4  Apartamento         Cachambi        2  ...  17.0       1618.0  26.000000

[5 rows x 11 columns]

In [7]:
dados['Valor m2'] = dados['Valor m2'].round(2)
dados.head()

          Tipo           Bairro  Quartos  ...  IPTU  Valor Bruto  Valor m2
0    Quitinete       Copacabana        1  ...  60.0       2260.0     42.50
1         Casa  Jardim Botânico        2  ...   0.0       7000.0     70.00
2  Apartamento           Centro        1  ...  20.0       1210.0     53.33
3  Apartamento     Higienópolis        1  ...   0.0       1030.0     16.67
4  Apartamento         Cachambi        2  ...  17.0       1618.0     26.00

[5 rows x 11 columns]

In [8]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)

In [9]:
dados.head()

          Tipo           Bairro  Quartos  ...  Valor Bruto  Valor m2  Valor Bruto m2
0    Quitinete       Copacabana        1  ...       2260.0     42.50           56.50
1         Casa  Jardim Botânico        2  ...       7000.0     70.00           70.00
2  Apartamento           Centro        1  ...       1210.0     53.33           80.67
3  Apartamento     Higienópolis        1  ...       1030.0     16.67           21.46
4  Apartamento         Cachambi        2  ...       1618.0     26.00           32.36

[5 rows x 12 columns]

In [10]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [11]:
# Apply interage uma função em cada linha do Data Frame
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [12]:
dados

              Tipo                Bairro  ...  Valor Bruto m2  Tipo Agregado
0        Quitinete            Copacabana  ...           56.50    Apartamento
1             Casa       Jardim Botânico  ...           70.00           Casa
2      Apartamento                Centro  ...           80.67    Apartamento
3      Apartamento          Higienópolis  ...           21.46    Apartamento
4      Apartamento              Cachambi  ...           32.36    Apartamento
...            ...                   ...  ...             ...            ...
21821  Apartamento                 Méier  ...           20.54    Apartamento
21822    Quitinete                Centro  ...           43.52    Apartamento
21823  Apartamento           Jacarepaguá  ...           33.85    Apartamento
21824  Apartamento  São Francisco Xavier  ...           40.54    Apartamento
21825  Apartamento                Leblon  ...           53.71    Apartamento

[21826 rows x 13 columns]

## Excluindo Variáveis

In [13]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

In [14]:
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto  Valor Bruto m2
0       Apartamento     42.50       2260.0           56.50
1              Casa     70.00       7000.0           70.00
2       Apartamento     53.33       1210.0           80.67
3       Apartamento     16.67       1030.0           21.46
4       Apartamento     26.00       1618.0           32.36
...             ...       ...          ...             ...
21821   Apartamento     12.86       1438.0           20.54
21822   Apartamento     29.63       1175.0           43.52
21823   Apartamento     23.08       2640.0           33.85
21824   Apartamento     29.17       1946.0           40.54
21825   Apartamento     42.86       3760.0           53.71

[21826 rows x 4 columns]

In [15]:
del dados_aux['Valor Bruto']

In [16]:
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto m2
0       Apartamento     42.50           56.50
1              Casa     70.00           70.00
2       Apartamento     53.33           80.67
3       Apartamento     16.67           21.46
4       Apartamento     26.00           32.36
...             ...       ...             ...
21821   Apartamento     12.86           20.54
21822   Apartamento     29.63           43.52
21823   Apartamento     23.08           33.85
21824   Apartamento     29.17           40.54
21825   Apartamento     42.86           53.71

[21826 rows x 3 columns]

In [17]:
dados_aux.pop('Valor Bruto m2')

0        56.50
1        70.00
2        80.67
3        21.46
4        32.36
         ...
21821    20.54
21822    43.52
21823    33.85
21824    40.54
21825    53.71
Name: Valor Bruto m2, Length: 21826, dtype: float64

In [18]:
dados_aux

      Tipo Agregado  Valor m2
0       Apartamento     42.50
1              Casa     70.00
2       Apartamento     53.33
3       Apartamento     16.67
4       Apartamento     26.00
...             ...       ...
21821   Apartamento     12.86
21822   Apartamento     29.63
21823   Apartamento     23.08
21824   Apartamento     29.17
21825   Apartamento     42.86

[21826 rows x 2 columns]

In [19]:
dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis=1, inplace=True)

In [20]:
dados

              Tipo                Bairro  Quartos  ...  IPTU  Valor m2  Tipo Agregado
0        Quitinete            Copacabana        1  ...  60.0     42.50    Apartamento
1             Casa       Jardim Botânico        2  ...   0.0     70.00           Casa
2      Apartamento                Centro        1  ...  20.0     53.33    Apartamento
3      Apartamento          Higienópolis        1  ...   0.0     16.67    Apartamento
4      Apartamento              Cachambi        2  ...  17.0     26.00    Apartamento
...            ...                   ...      ...  ...   ...       ...            ...
21821  Apartamento                 Méier        2  ...  48.0     12.86    Apartamento
21822    Quitinete                Centro        0  ...  25.0     29.63    Apartamento
21823  Apartamento           Jacarepaguá        3  ...  40.0     23.08    Apartamento
21824  Apartamento  São Francisco Xavier        2  ...  37.0     29.17    Apartamento
21825  Apartamento                Leblon        2  ...   0.0     42.86    Apartamento

[21826 rows x 11 columns]

In [21]:
dados.to_csv('/content/drive/MyDrive/Alura/Curso Pandas/aluguel_residencial.csv', sep=';', index=False)